.timeline {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px;
    pointer-events: none;
}

.timeline-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 110%;
    height: 140px;
    background: rgba(255, 255, 255, 0.349);
    border-radius: 50% 50% 0 0;
    backdrop-filter: blur(10px);
}

.timeline-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
}

.timeline-year {
    position: absolute;
    top: 50px;
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    z-index: 10;
}

.timeline-svg {
    width: 90%;
    height: 120px;
    z-index: 5;
}

.timeline-slider {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 140px;
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
    z-index: 20;
}


.timeline-year {
    font-family: 'Roboto', sans-serif;
    
}